@use '@/styles/variables.scss' as *;

.title {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    h1 {
        font-family: 'Museo_Cyrillic', sans-serif;
        font-weight: 500;
    }
    p {
        color: $font-color-secondary;
        font-size: $font-md;
        @include respond-to(desktop) {
            font-size: $font-lg;
        }
    }
}
