// Colors
$col_grayLite: #a7a7a7;
$col_gra: #535353;
$col_goldLite: #af8d6c;
$col_mediumGray: #656565;
$col_mediumGray_50: rgba(#656565, 0.5);
$col_darkGray_60: rgba(#252525, 0.6);
$col_bg_secondary: $col_darkGray_60;
$col_border_mediumGray: $col_mediumGray_50;
$col_font_secondary: $col_grayLite;

// Font sizes
$font-xs: 12px;
$font_sm: 14px;
$font_md: 16px;
$font_lg: 24px;
