@use '@/shared/styles/variables.scss' as *;

.carousel {
    width: 100%;
    overflow: hidden;
}

.track {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
    transition: transform 0.3s ease;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    gap: 6px;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid $col_gra;
    cursor: pointer;

    &.active {
        background: $col_gra;
    }
}
