@use '@/styles/variables' as *;

.container {
    position: relative;
    overflow: hidden;
    border: 1px solid $border-color-mediumGray;
    background-color: $col-darkGray-60;
    backdrop-filter: blur(30px);
    border-radius: 8px;
    padding: 16px;
    @include respond-to(tablet) {
        padding: 24px;
    }
    @include respond-to(desktop) {
        flex: 1 1 0;
    }
}
.progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    display: flex;
    align-items: center;
    gap: 8px;
    color: $font-color-secondary;
    h3 {
        font-size: $font-sm;
    }
}

.value {
    span {
        color: $font-color-secondary;
    }
}

.starIcon {
    background-image: url('/star.svg');
    width: 24px;
    height: 24px;
}

.progressBar {
    margin-top: 16px;
    background-color: rgba(#454545, 0.5);
    padding: 4px;
    border: 1px solid $border-color-mediumGray;
    border-radius: 8px;
}
