@use '@/shared/styles/variables' as *;
@use '@/shared/styles/media.scss' as *;
@use '@/modules/statistic/shared/styles/mixin.scss' as *;

.section {
    @include mSection();
}

@mixin wrapper($p, $br) {
    margin-top: 16px;
    background-color: $col_bg_secondary;
    border: 1px solid rgba(#626262, 0.5);
    padding: $p;
    border-radius: $br;
}

.bg_Progress_Rang {
    @include wrapper(8px, 16px);
}

.bg_Switcher {
    @include wrapper(4px, 16px);
}

.bg_SelectRang {
    @include wrapper(0px, 8px);
}

.title {
    width: fit-content;
    position: relative;
    span {
        width: 25px;
        font-size: 16px;
        position: absolute;
        top: 0;
        right: calc(-25px - 10px);
        color: $col_font_secondary;
    }
}

@include respond-to(desktop) {
    .bg_Progress_Rang {
        display: flex;
        gap: 8px;
    }
    .bg_Rang {
        width: 157px;
    }
    .bg_Switcher {
        flex: 1;
    }
    .container {
        display: flex;
        gap: 24px;
    }

    .title span {
        font-size: 20px;
    }
}
