@mixin primary-bg {
    background: rgba(37, 37, 37, 0.6);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(101, 101, 101, 0.5);
    border-radius: 24px;
}

@mixin gold-gradient($deg, $from, $to, $blur) {
    background: linear-gradient($deg, #b98756e6 $from, rgba(83, 61, 39, 0) $to);
    filter: blur($blur);
}

$vp-desktop: 1199px;
$vp-tablet: 767px;

@mixin respond-to($breakpoint) {
    @if $breakpoint == tablet {
        @media (min-width: $vp-tablet) {
            @content;
        }
    } @else if $breakpoint == desktop {
        @media (min-width: $vp-desktop) {
            @content;
        }
    } @else {
        @warn "No value found for breakpoint `#{$breakpoint}`.";
    }
}

// Colors
$gray-lite: #a7a7a7;
$col-gray: #535353;
$col-gold-lite: #af8d6c;
$col-mediumGray: #656565;
$col-mediumGray-50: rgba(#656565, 0.5);
$col-darkGray-60: rgba(#252525, 0.6);
$bg-secondary-color: $col-darkGray-60;
$border-color-mediumGray: $col-mediumGray-50;
$font-color-secondary: $gray-lite;

// Font sizes
$font-xs: 12px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 24px;
// 535353
// 69533F
// B4957A

// grad
// D5BA94
// B98756
// 534434

// gradEffect
// B98756
// 533D27
